# Configuration file for Black Duck

# Basic project information
detect.project.name=DTE-FreeRTOS
detect.project.version.name=2.2.0

# Basic scan details
detect.project.codelocation.suffix=base
detect.cleanup=false

# Only scan OSAL sources
detect.blackduck.signature.scanner.paths=FreeRTOS

# No package manager for this project - just plain C/C++ code. So apply snippet matching.
detect.blackduck.signature.scanner.individual.file.matching=ALL
detect.blackduck.signature.scanner.snippet.matching=SNIPPET_MATCHING
detect.blackduck.signature.scanner.license.search=true
detect.blackduck.signature.scanner.copyright.search=true

