# Configuration file for Black Duck

# Basic project information
detect.project.name=DTE-FreeRTOS-OSAL-DFP
detect.project.version.name=1.0.0

# Basic scan details
detect.project.codelocation.suffix=osal
detect.cleanup=false

# Only scan OSAL sources
detect.blackduck.signature.scanner.paths=FreeRTOS/Source/portable/CCES/osal,pack

# No package manager for this project - just plain C/C++ code. So apply snippet matching.
detect.blackduck.signature.scanner.individual.file.matching=ALL
detect.blackduck.signature.scanner.snippet.matching=SNIPPET_MATCHING
detect.blackduck.signature.scanner.license.search=true
detect.blackduck.signature.scanner.copyright.search=true

